/* .fa-num {
    font-feature-settings: 'ss01';
} */

body , html {
    height: 100%;
}

body {
    font: 1rem vazirmatn;
}

.icon {
    color: aliceblue;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    text-decoration: none;
}
li {
    -webkit-tap-highlight-color: transparent;
}

header {
    width: 90%;
    
    /* height: 100px; */

    margin: 25px auto 0px auto;
    /* background-color: #307a59; */
    background-color: rgba(14, 35, 56, 1);
    color: aliceblue;
    font-size: .9rem;
    padding: .7rem 1.5rem;
    box-sizing: border-box;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-head {
    display: flex;
    align-items: flex-end;
}

.date {
    font-size: .75rem;
}

.icon:active {
    color: rgb(24, 196, 144);
}

.menu-icon {
    padding: .45rem;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;   
    align-items: center; 
    border-radius: 5px;
}
/* .menu-icon:focus ~ .menubar {
    right: 0;
} */
.menubar {
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: -70%;
    /* right: 0vh; */
    height: 100vh;
    width: 70%;
    /* background-color:#2a4747; */
    background-color: rgba(14, 35, 56, 1);
    transition: all .5s cubic-bezier(0, 0, 0.11, 0.99);
    z-index: 100;
    padding:32px 16px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}
.menubar li {
    cursor: pointer;
    padding: 5px 0px;
}
.menubar > ul > li {
    /* padding: 5px 0px; */
    border-bottom: 2px solid rgba(255, 255, 255 , .1);
}
/* .menubar > ul > li ul {
    font-weight: 400;
} */

/* .menubar > h2 {

} */


.menubar > ul {
    margin-top: 32px;
}


.menu-child-title{
    font-size: 1rem;
    font-weight: 300;
    display:none;
    margin-right: 20px;
    padding-right: 25px;
    margin-top: 10px;
    border-right: solid 1px rgba(255, 255, 255, .5);
}

/* .menu-report-title{
    font-size: 1rem;
    font-weight: 300;
    display:none;
    margin-right: 20px;
    padding-right: 25px;
    margin-top: 10px;
    border-right: solid 1px rgba(255, 255, 255, .5);
} */


.menubar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.menubar-item:hover ,
.child-part:hover {
    color: #6ca5e7;
}

.child-part > a:hover {
    color: #6ca5e7;
}

.menubar-item-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.menubar-item-text {
    margin-right: 10px;
}

#hide-menu {
    opacity: .7;
    margin-bottom: 10px;
}

.hide-child {
    display: none;
}
.menubar-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

#filter {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    transition: all .5s;
    transition-duration: .4s;
    display: none;
    opacity: 0;
}



