body , html{
    height: 100vh;
}

body {
    background: url(../img/login-bg.jpg) center center no-repeat;
    background-size:cover;
    position: fixed;

}

.main {
    width: 100vw;
    height: 100vh;
    font: 1rem vazirmatn;
    color: aliceblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:scroll;
}
input[type="text"] ,
input[type="password"] , 
input[type = "submit"] {
    border: 1.8px solid aliceblue;
    background: none;
    text-align: center;
    margin: 7px;
    outline: none;
    color: aliceblue;
    transition: .25s;
    border-radius: 30px;
}

input[type="text"] ,
input[type="password"] {
    height: 20px;
    padding: 8px 10px;
    width: 70%;
}

input[type="submit"] {
    height: 35px;
    width: 25%;
    font: .9rem vazirmatn;
    font-weight: 600;
    color: #3bd3f9;
}

input[type = "submit"]:hover {
    background-color: #3bd3f9;
    color: #061b2c;
}


.form-contorol:focus {
    width: 80%;
    border-color: #3bd3f9;
}

/* form control placeholder start */

.form-contorol::placeholder {
    font: 1rem vazirmatn;
    color: #fff;
    opacity: .8;
}

.form-contorol:-moz-placeholder {
    font: 1rem vazirmatn;
    color: #fff;
    opacity: .8;

}

.form-contorol::-moz-placeholder {
    font: 1rem vazirmatn;
    color: #fff;
    opacity: .8;
}

.form-contorol::-webkit-input-placeholder {
    font: 1rem vazirmatn;
    color: #fff;
    opacity: .8;
}

.form-contorol::-ms-input-placeholder {
    font: 1rem vazirmatn;
    color: #fff;
    opacity: .8;
}

/* form control placeholder end */


form > h2{
    font-size: 1.3rem;
    margin: 0px 0px 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #fff ;
    width: 95%;
    
}

.continer {
    min-width: 187px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 15px 2px rgba(4, 1, 24,.5);
}

.img {
    width: 100%;
    /* min-width: 250px; */
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

form {
    background-color: #061b2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ; 
}
